{% extends "skeleton.html" %}

{% block content %}
    <h1>{{ ksiazka.tytul }}</h1>

    <p><strong>Autor:</strong> <a href="{% url 'autor-szczegoly' ksiazka.autor.pk %}">{{ ksiazka.autor }}</a></p>
    <p><strong>Streszczenie:</strong> {{ ksiazka.streszczenie }}</p>
    <p><strong>Gatunek:</strong> {{ ksiazka.gatunek.all|join:", " }}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Egzemplarze</h4>

        {% for egz in ksiazka.egzemplarz_set.all %}
            <hr>
            <p class="{% if egz.status == 'D' %}text-success{% elif egz.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
                {{ egz.get_status_display }}
            </p>
            {% if egz.status != 'D' %}
                <p><strong>Data zwrotu:</strong> {{ egz.data_zwrotu }}</p>
            {% endif %}
            <p class="text-muted"><strong>Id:</strong> {{ egz.id }}</p>
        {% endfor %}
    </div>
{% endblock %}